body {
  background: rgb(165, 165, 165);
}

.box {
  width: 300px;
  height: 300px;
  border: 2px black solid;

  &-1 {
    background-color: black;
    // background-repeat: no-repeat;
    background-size: 190%;
    background-position: center top;
    margin-top: -116px;
    background-image: url('../hero-img.png');
    background-image: linear-gradient(180deg, rgba(111, 9, 213, 0) 30%, #dbcd09 64%), url('../hero-img.png');
      
  }

  &-2 {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: center top;
    // margin-top: -116px;
    background-image: url('../hero-img.png');
    background-image: linear-gradient(180deg, rgba(111, 9, 213, 0) 30%, #db3309 64%), url('../hero-img.png');
  }

  &-3 {
    background-color: black;
    background-image: url('../hero-img.png');
    background-repeat: no-repeat;
    background-size: 750px;
    // background-position: center top;
    margin-top: -116px;
    background-image: -webkit-gradient(180deg, rgba(5, 5, 5, 0) 30%, #050505 64%), url('../hero-img.png');
    background-image: -webkit-linear-gradient(180deg, rgba(5, 5, 5, 0) 30%, #050505 64%), url('../hero-img.png');
    background-image: -moz-linear-gradient(180deg, rgba(5, 5, 5, 0) 30%, #050505 64%), url('../hero-img.png');
    background-image: -o-linear-gradient(180deg, rgba(5, 5, 5, 0) 30%, #050505 64%), url('../hero-img.png');
    background-image: linear-gradient(180deg, rgba(5, 5, 5, 0) 30%, #050505 64%), url('../hero-img.png');
    // background-size: cover;

  }

  &-4 {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: center top;
    margin-top: -116px;
    background-image: url('../hero-img.png');
    background-size: cover;
    position: relative;
    div {
      width: 100%;
      height: 100%;
    }
  }

  &-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(111, 9, 213, 0) 30%, #185904 64%);
  }

  &-5 {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    margin-top: -116px;
    background-image: url('../hero-img.png');
    background-image: linear-gradient(180deg, rgba(111, 9, 213, 0) 30%, #09dbd1 64%), url('../hero-img.png');
  }

  &-6 {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: -116px;
    background-image: url('../hero-img.png');
    background-image: linear-gradient(180deg, rgba(111, 9, 213, 0) 30%, #0c09db 64%), url('../hero-img.png');
  }
}